.inputLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5;
  width: 40vw;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin-left: 5px;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 20vw;
}

::placeholder {
  font-size: 0.9rem;
  text-decoration: none;
  font-style: italic;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.button {
  color: white;
  border: 2px solid white;
  border-radius: 31px;
  background-color: transparent;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
}
